# IDE
.vscode
.DS_Store
.idea

# Build Temp
build
lockzhiner_vision_module_sdk*
opencv-mobile-4.10.0-lockzhiner-vision-module*
*.pkl
Temp

# Export
dataset.txt

# Model
*.pdiparams
*.pdiparams.info
*.pdmodel
*.onnx
*.rknn
debug*
*.ncnn.bin
*.ncnn.param
*.pnnx.bin
*.pnnx.param
LZ-*.py


# Picture


# Zip
*.tar
*.zip
third_party/